h1,
h2,
h3 {
  font-weight: $title-weight;
}

p {
  font-weight: $text-weight;
  font-size: 20px;
  line-height: 25px;
}

h2 {
  font-family: $title-font;
  font-size: 5rem;

  @include on-mobile {
    font-size: 70px;
  }
}
