@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

$font: 'Raleway';

$title-weight: 400;
$text-weight: 300;

$main-color: #dfbbbb;
$black-color: black;
$white-color: white;

$desktopMargin: 0 4rem;
